/* the styles for the elements */

* {
	margin: 0;
	padding: 0;

}


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 0 auto;
	width: 800px;
	border: solid; background-color: #931420; border-width: 3px;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header{
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-bottom: solid; background-color: #931420; border-width: 3px;
	background-image: linear-gradient(30deg,#f6bb73 0%, #f6bb73 30%, #f6bb73 80%, #f6bb73 100%)
}
header h1{
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-bottom: solid; color: #931420; border-width: 3px;


}
header h2 {
	font-size: 170%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the main content */
main {
	clear: left;
}

main aside{
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img{
	padding-bottom: 1em;
}
main section{
	width: 525px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;


}
section h1 {
	font-size: 150%;
	padding-top: .3em;
	padding-bottom: .3em;
	border-bottom: solid; color: black; border-width: 3px;
}
section h2 {
	color: #800000;

	font-size: 130%;
	padding-top: .5em;
	padding-bottom: .25em;


}
section p{
	padding-bottom: .5em;
}
#bord{
	border-bottom: solid; color: black; border-width: 3px;
}
#bold{
	font-weight: bold;

}
section blockquote{
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}
section ul{
	padding-bottom: .25em;
	padding-left: 1.25em;
}
section li{
	padding-bottom: .35em;
}
section img{
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black;

}


/* the styles for the footer */
footer p {
	clear: both;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #931420;
	color: white;
	text-align: center;
}
